.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 40px;
    font-size: 25px;
}

.welcome-header__text {
    width: 60%;
    /* text를 스크린의 60%가 될 때까지만 작성되게 함 */
    opacity: 0.7;
}

/* 
BEM 방식에 따르면 아래 ID를 활용한 방식 말고
.login-form__btn 
.login-form__input
.login-forn__a
등으로 네이밍하여 활용할 수 있음 
*/


#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
    /* not() 은 특정 요소를 제외하고 싶을 때 사용 */
    /* [type="submit"] 은 attr 로 접근하는 방법 */
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
    color: rgba(0,0,0,0.4);
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;
    /* 갖다 대면 손가락 모양으로 바뀌는 효과 */
    /* cursor 에는 progress, not allowed 등 여러 효과가 있음 */
    padding: 20px 0px;
    border-radius: 5px;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    /* inherits 는 상위 요소에게 색상을 상속받음을 의미함 */
    font-size: 13px;
}