.nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    /* nav-bar 가 아래에 붙어 있게끔 하는 작업 */
    /* box-sizing: border-box; > 강의 참고 */
    /* to css [내가 준 padding을 적용하되 내 box 전체 사이즈를 늘리지는 말아줘] 라고 하는 것 */
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(215, 208, 208, 0.439);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

/* 
.nav__link {
    color: inherit;
    text-decoration: none;
} 
reset.css에 작성, 모든 a에 적용되도록
*/

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notification {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.nav__notification2 {
    position: absolute;
    top: -10px;
    left: 30px;
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
}